
/*books*/
#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 110px;
    border-radius: 10px;
    margin: 100px auto;
}

#bestsellers h1, h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: black;
    position: relative;
    z-index: 1;
}

.thumbnails img {
    height: 270px;
    width:200px;
    border: 4px solid #555;
    padding: 1px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index:0;
}

.thumbnails img:hover {
    border: 4px solid orange;
    cursor:pointer;
}

.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}
.label:after {
    content: '\A';
    white-space: pre;
}

/*Header*/
#background {
    background-image: url("https://static.pexels.com/photos/110252/pexels-photo-110252.jpeg");
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 600px;
}

#header {
    background-color: grey;
    opacity: 0.7;
    width: 70%;
    height: 55%;
    border-radius: 10px;
    margin: 100px auto;
}

#header h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

#header h2 {
    font-family: "Satisfy";
    text-align: center;
    padding: 20px;
    color: white;

}

.name {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (max-width: 760px) {
    
    #header {
        display: none;
       
    }
    

    #who {
        width: 90%;
        height: 450px;
        margin: 5% auto;
        padding: 0px;
    }

