
/*books*/
#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}

#bestsellers h1, h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}
figure {
    display: block;
    width: 30%;
    height: 50%;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

figure img {
    width: 250px;
    height: 400px;
    border: 1px solid black;
}


#Book1 {
    text-decoration: none;
   
}

#Book2 {
  text-decoration: none;
}

#Book3 {
  text-decoration: none;
}


#button {
    text-align: center;
    width: 250px;
    height: 50px;
    background-color: red;
    border: none;
}

.slideText {
    border: solid red;
    background-color: grey;
    height: 300px;
    width: 300px;
    display: none;
    text-align: center;
}

#background {
    background-image: url("../images/Books.jpg");
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 600px;
}

#header {
    background-color: grey;
    opacity: 0.7;
    width: 70%;
    height: 400px;
    border-radius: 10px;
    margin: 100px auto;
}

#header h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

#header h2 {
    text-align: center;
    padding: 20px;
    color: white;

}

#sectie {
    background-image: none;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 1000px;
}

#who {
    text-align: center;
    background-color: grey;
    opacity: 0.8;
    width: 55%;
    height: 50%;
    border-radius: 10px;
    margin: 150px auto;
}

#who h1, h3{
    text-transform: uppercase;
    padding: 20px;
    color: black;
}

/*class @bestsellers*/
.col-sm-4 {
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 30%;
}
