
/*books*/
figure {
    display: block;
    width: 30%;
    height: 50%;
    margin: 0px;
    padding: 10px;
    text-align: center;
}

figure img {
    width: 250px;
    height: 400px;
    border: 1px solid black;
}

button {
    background-color: grey;
    text-align: center;
    padding: 10px;
    width: 250px;
    position: absolute;
    top: 400px;
    left: 50px;
}

button:focus {
    outline: none;
}

#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}

#bestsellers h1, h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: black;
    position: relative;
    z-index: 1;
}

#book {
    position: relative;
}


button {
    background-color: grey;
    text-align: center;
    padding: 10px;
    width: 250px;
    position: absolute;
    top: 400px;
    left: 50px;
}

button:focus {
    outline: none;
}


.slideText {
    border: 1px orange;
    padding: 15px;
    background-color: grey;
    height: 350px;
    width: 250px;
    margin-top: -350px;
    margin-left: 40px;
    margin-right: 40px;
    bottom: -80px;
    text-align: center;
    position: absolute;
    display: none;
}

.thumbnails img {
    height: 350px;
    width:250px;
    border: 4px solid #555;
    padding: 1px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index:0;
}

.thumbnails img:hover {
    border: 4px solid orange;
    cursor:pointer;
}


/*second blok*/

#background {
    background-image: url("../images/Books.jpg");
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 600px;
}

#header {
    background-color: grey;
    opacity: 0.7;
    width: 70%;
    height: 55%;
    border-radius: 10px;
    margin: 100px auto;
}

#header h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

#header h2 {
    font-family: "Satisfy";
    text-align: center;
    padding: 20px;
    color: white;

}

#sectie {
    background-image: none;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 690px;
}

#who {
    text-align: center;
    background-color: grey;
    opacity: 0.8;
    width: 55%;
    height: 50%;
    border-radius: 10px;
    margin: 150px auto;
}


#who h1, h3{
    text-transform: uppercase;
    padding: 10px;
    color: black;
}

#who h2 {
    font-family: "Satisfy";
    color: orange;
}


/*class @bestsellers*/
.col-sm-4 {
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

@media screen and (max-width: 760px) {
    #header {
        display: none;
       
    }
    
    #bestsellers {
        display: none;
    }
    #who {
        width: 90%;
        height: 450px;
        margin: 5% auto;
        padding: 0px;
    }

}