

* {
    font-family: "News Cycle", sans-serif;
    color: white;
}


/*Navigation*/
nav {
    padding: 10px;
}
.navbar-inverse {
    background-color: grey;
    border: none;
}

.navbar .nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.navbar .nav > li > a:hover {
    color: orange;
}
.navbar-toggle {
    border: none;
    outline: none;
}


/* menubar */
a:link, a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*Footer*/
#footer {
    height: 100px;
    background-color: grey;
    text-align: center;
}

#toTop {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer a:link, #footer a:visited {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: none;
}

#toTop a:link, #toTop a:visited {
    color: white;
    text-decoration: none;
}

#toTop a:hover {
    text-decoration: underline;
}

