body {
	margin: 0px;
	color: white;
}

form {
	color: white;
	width: 40%;
	margin-top: 10%;
	float: left;
	margin-right: 20%;
	border
}

iframe {
	float: left;
	width: 35%;
	margin-top: 10%;
}

h5 {
	display: inline;
	margin-left: 150px; 
	position: relative;
	width: 200px; 
}

#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}


#submitButton {
	border-radius: 20px;
	width: 300px; 
}

#hero {
	background-image: url('../images/business/bookbg.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	top:0;
	height: 100vh;
	z-index: -10;
}

#hero-overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.60);
	top:0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

#theForm {
 
color:white;
display: table;
padding: 15px;
 
}
 
.row {
display: table-row;

}
 
.row label {
display: table-cell;
padding-right: 40px;
text-align:right;
 
}
 
.row input {
display: table-cell;
padding: 2px;
width: 300px;
background-color: black;
}


/* Omar
#footer {
	background-color: inherit;
	float: left; 
	display: block;
	width: 100%;
	margin: auto;
}
*/ 









