body {
	margin: 0px;
	color: white;
}

form {
	color: white;
	width: 45%;
	margin-top: 10%;
	float: left;
	margin-right: 5%;
	height: 50%; 
	margin-left:10%;
}

iframe {
	float: left;
	width: 35%;
	margin-top: 10%;
}

<<<<<<< HEAD
h5 {
	display: inline;
	margin-left: 150px; 
	position: relative;
	width: 200px; 
}

#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}


=======
>>>>>>> 439dc73a112782beb0aae1b1f28d9cafb7921eba
#submitButton {
	border-radius: 20px;
	width: 140px; 
	border: 1px solid white;
	margin-left: 60px; 
	font-size: 16px;
}

#selection {
	padding: 10px; 
}


#hero {
	background-image: url('../images/business/bookbg.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
	top:0;
	height: 100vh;
	z-index: -10;
}

#hero-overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.60);
	top:0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

#theForm {
 
color:white;
display: table;
padding: 50px;

}
 
.row {
display: table-row;

}
 
.row label {
display: table-cell;
padding-right: 40px;
text-align:right;
 
}
 
					/* FORM STYLING */ 

.row input {
display: table-cell;
padding: 2px;
width: 300px;
background-color: inherit;
border: none; 
border-bottom: white 1px solid; 
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

<<<<<<< HEAD

/* Omar
#footer {
	background-color: inherit;
	float: left; 
	display: block;
	width: 100%;
	margin: auto;
}
*/ 



=======
.row select {
display: table-cell;
padding: 2px;
width: 300px;
background-color: inherit;
border: none; 
border-bottom: white 1px solid; 
font-size: 20px; 
}


#bestsellers {
    text-align: center;
    background-color: white;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin: 100px auto;
}

* {
    font-family: "News Cycle", sans-serif;
    color: white;
}
>>>>>>> 439dc73a112782beb0aae1b1f28d9cafb7921eba






